@import "tailwindcss";

:root {
  font-family: Arial, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto 0;
}

.buttons {
  cursor: pointer;
  padding: 5px 8px;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

@media (max-width:768px){
  .buttons{
    font-size:0.9rem
  }
}

.no-scrollbar {
  scrollbar-width: none;
}
